<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group text-center">
          <label for="burgerOrder" class="mx-auto">Order-Da-Burger</label>
          <textarea class="form-control mx-auto w-50" id="burgerOrder" rows="3"></textarea>
          <button type="submit" class="btn btn-primary mx-auto my-3">
            Order
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        {{#each burgers}}
        {{#if devoured=0}}
        <li class="list-group-item">{{burger_name}}
          <button type="button" class="btn btn-primary btn-sm float-right">
            Devour
          </button>
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-group" id="devouredBurgers">
        {{#each burgers}}
        {{#if devoured}}
        <li class="list-group-item">{{burger_name}}</li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>